body {
    margin: 0;
    overflow: hidden;
    font-family: 'Concert One', cursive;
    background: linear-gradient(to bottom, #ff6b6b, #556270); /* Coral and Steel Blue gradient */
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3vw; /* Adjust font size */
    color: white;
    animation: text-animation 5s linear infinite alternate;
  }
  
  @keyframes text-animation {
    from {
      color: #050505; /* White color */
      text-shadow: 0 0 10px #c96565, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFD700, 0 0 70px #FFD700, 0 0 80px #FFD700, 0 0 100px #FFD700, 0 0 150px #FFD700;
    }
    to {
      color: #161313; /* White color */
      text-shadow: 0 0 5px #fff, 0 0 10px #15e420, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
      text-align: center;
    }
  }
  
  .fireworks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .cracker {
    position: absolute;
    width: 10px;
    height: 10px;
    background-size: cover;
    animation: cracker-animate 2s infinite;
  }
  


  
  /* Add more .crackerX classes and adjust positions as needed */
  
  @keyframes cracker-animate {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  